* {
  background-color: #ffffff;
}

ul {
  list-style-type: none;
}

.logo {
  width: 65px;
  height: 65px;
  margin-top: 8.5px;
  padding-left: 210px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.cb {
  width: 69px;
  height: 45px;
  padding-left: 14px;
  vertical-align: middle;
  margin-top: -55px;
}

.Adname {
  width: 119px;
  height: 27px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  margin-left: 940px;
  /* Text */
  color: #24014e;
}

.admin {
  width: 58px;
  height: 58px;
  /* Alt Light */
  background: #e6e4ed;
  border-radius: 64px;
  align-items: center;
  margin-left: 1437px;
  vertical-align: middle;
  margin-top: -105px;
}

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: left;
  background: #e6e4ed;
}

.welcome {
  position: absolute;
  width: 272px;
  height: 48px;
  left: 157px;
  top: 79px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  background-color: #e6e4ed;
  margin-left: 52px;
}

table {
  position: absolute;
  width: 1428px;
  height: 10px;
  left: 210px;
  top: 168px;
  width: 1300px;
  height: 450px;
  border-radius: 15px;
  padding-left: 46px;
  padding-right: 63.17 px;
  padding-top: 25px;
  padding-bottom: 23px;
}

.Date {
  width: 48px;
  height: 69px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 530;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #491f7c;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 18px;
  gap: 10px;
  background: rgba(73, 31, 124, 0.4);
  border-radius: 10px;
  border: 30px 30px;
  float: initial;
  margin-left: 13px;
}

.Info {
  width: 217px;
  height: 27px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  /* identical to box height */
  align-items: center;
  color: #706f6f;
  padding-bottom: 70px;
}

.Type {
  width: 103px;
  height: 27px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 550px;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  color: #24014e;
  font-style: bold;
}

.Venue {
  width: 100px;
  height: 27px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  text-align: -20px;
  color: #24014e;
  float: center;
}

.Equipment {
  width: 192px;
  height: 27px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  text-align: center;
  color: #6109d9;
}

.Time {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  text-align: center;
  color: #24014e;
}

td {
  text-align: left;
}

/* .Page{
  position: absolute;
width: 222px;
height: 27px;
left: 157px;
top: 1021px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
} */

.tick {
  background-image: url("tick.png");
  background-repeat: no-repeat;
  background-position: 1px center;
}

.cross {
  background-image: url("cross.png");
  background-repeat: no-repeat;
  background-position: 4px center;
}

.Events {
  width: 39px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  color: #491f7c;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: top;
  padding: 5px 15px;
  padding-bottom: -92px;
  gap: 10px;
  border: none;
}

.Checkevents {
  width: 100px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 7px;
  text-align: center;
  color: #491f7c;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: top;
  padding-bottom: 32px;
  gap: 10px;
  border: none;
  border-radius: 10px;
  /* identical to box height */
  /* Text */
  color: #24014e;
  width: 120px;
  height: 27px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  /* Text */
  color: #24014e;
}

.navBar {
  position: absolute;
  width: 1728px;
  height: 80px;
  left: 0px;
  top: 0px;
  background: #ffffff;
}
